.header::after{
    background-image:none
}
.header{
    padding: 20px 0;
    background: #fff;
    text-transform: uppercase;
}
.toolbartitle {
    color:#b1b8c5;
    font-size: 20px;
    font-weight: normal;
}
.item-last{
    text-align: center;
    font-size: 40px;
    color: #dbe0e5;
    border: none !important;
}
.detail-button {
    font-size: 18px;
    color: #dbe0e5;
}
.menubtn{
    font-size: 25px;
    color: #6374f3;
}

.listlabel {
    font-size: 18px !important;
    color: #6374f3 !important;
    font-weight: 500;
}

.listitem {
    padding: 20px 0px;
    align-items: center;
    border-bottom: 1px solid #dbe0e5;
}

.profile-header  {
    display: flex;
    flex: 1;
    padding: 0px 0px 20px 20px;
    align-items: center;
    border-bottom: 1px solid #dbe0e5; 
}

.name-container {
    padding-left: 33px;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.name-title  {
    font-size: 16px;
    font-weight: 500;
    color: #b1b8c5;
    padding-bottom: 5px;
}

.name {
    font-size: 20px;
    font-weight: 500;
    color: #6374f3;
}